:root{
    --main-brand-color: #297AE3;
    --primary-color: #15171C;
    --secondary-color: #232933;
    --light-secondary-color: #2E3744;
    --text-color: white;
    --secondary-text-color: #B3B4B6;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}