*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration:none;
    color:#f2f2f2;
}
ul{
    list-style:none;
    padding:0;
}
.center-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section{
    width:100%;
    height:auto;
    padding:0;
    overflow:hidden;
    position:relative;
    color: #f2f2f2;
}
.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.bg{
    width:100%;
    height:100%;
    min-height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    position:absolute;
    z-index:-1;
    overflow:hidden;
}
#intro-section .bg{
    z-index:0;
    background-image:url(../assets/img/intro-bg.jpg);
}  




.intro-body{
    width:100%;
    height:101vh;
    overflow:hidden;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
.intro-contet{
    text-align:center;
    padding:0 5%;
    width:100%;
    position:relative;
    top:-5%;
}
.heading{
    font-size:4.5em;
    font-weight:700;
    position:relative;
    padding-bottom:10px;
    color:#f2f2f2;
    opacity: 0;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation: entry2;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.subtext{
    display:inline-block;
    padding:1.2em 0;
    font-size:1.3rem;
    font-weight:500;
    line-height:1.5;
    color:#f2f2f2;
    text-transform:uppercase;
    margin:0;
    opacity: 0;
    animation: entry3;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.divider-header{
    display:block;
    margin: 0 auto;
    width:450px;
    height:6px;
    border-radius: 3px;
    background-color:#f2f2f2;
    opacity: 0;
    animation: entry1;
    animation-duration: 1s;
}
@keyframes entry1 {
    0%, 100% {
        transform:scaleX(0);
        opacity: 1;
    }
    40%, 70% {
        transform:scaleX(1);
        opacity: 1;
    }
}
@keyframes entry2 {
    0% {
        opacity:0;
        transform:translateY(50%);
      }
      100% {
        opacity:1;
        transform:translateY(0);
      }
}
@keyframes entry3 {
    0% {
        opacity:0;
        transform:translateY(-50%);
      }
      100% {
        opacity:1;
        transform:translateY(0);
      }
}
#about-section{
    background-color:#1b1b1b;
    min-height: 700px;
} 
.divider{
    display:block;
    margin:30px 0;
    width:100px;
    height:2px;
    background-color:#00b7c7;
    align-self: center;
}
.section-heading{
    font-size:3em;
}
.section-subheading{
    width:60%;
    font-size:1.2em;
    font-weight:500;
    line-height:1.5;
    margin-top:1em;
}
@media only screen and (max-width:1000px){
    .section-subheading{
        width:100%;
    }
}
.mous-icon{
    width: 48px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 24px);
    animation: mous;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes mous {
    0% {
        transform:translateY(0px);
      }
      50% {
        transform:translateY(5px);
      }
      100% {
        transform:translateY(0px);
      }
}
.section-wrapper{
    padding:100px;
}
@media only screen and (max-width:900px){
    .section-wrapper{
        padding:100px 50px;
    }
}
@media only screen and (max-width:400px){
    .section-wrapper{
        padding:100px 25px;
    }
}
.headshot{
    display:inline-block;
    width:35%;
    height:auto;
    border-radius:50%;
    margin-top:-100px;
    float:right;
    max-width:450px;
}
@media only screen and (max-width:1000px){
    .headshot{
        margin-top:0;
    }
}
@media only screen and (max-width:900px){
    .headshot{
        float:none;
        margin:10px 0 40px 0;
        width:300px;
    }
}
@media only screen and (max-width:400px){
    .headshot{
        width:250px;
    }
}
.about-text-wrapper{
    display:inline-block;
    width:60%;
    vertical-align:top;
}
@media only screen and (max-width:900px){
    .about-text-wrapper{
        width:100%;
    }
}
.about-text{
    margin-bottom:10px;
    font-size:1.15em;
}
#skills-section{
    background-color: #303030;
}
.skills-flex-wrapper{
    height:17em;
    display: flex;
    flex-flow:row wrap;
    justify-content: flex-start;
}
@media only screen and (max-width:768px){
    #skills-section .skills-flex-wrapper{
        display:block;
        height:auto;
    }
}
.dev-wrapper{
    width:40%;
    max-width:400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skills-heading{
    text-transform:uppercase;
    font-weight:700;
    font-size:1.5vw;
}
.skills-heading-dev{
    text-transform:uppercase;
    font-weight:700;
    font-size:1.5vw;
    text-align: center;
}
@media only screen and (max-width:800px) {
    .skills-heading {
        font-size:18px;
    }
}
.sprite{
    width:35px;
    height:35px;
    margin-right:7px;
    position:relative;
    top:3px;
    display:inline-block;
    vertical-align:text-bottom;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100%;
}
.sprite-dev{
    transform: scale(1.15);
    background-image: url(../assets/icons/engineering.svg);
}
.sprite-tools{
    transform: scale(0.9);
    background-image: url(../assets/icons/tools.svg);
}
.sprite-knowledge{
    background-image: url(../assets/icons/school.svg);
}
@media only screen and (max-width:800px) {
    .skills-heading {
        font-size:18px
    }
}
.dev-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dev-item{
    display:inline-block;
    border:2px solid #f2f2f2;
    border-radius:50%;
    text-align:center;
    margin:10px 10px 10px 10px;
    width:100px;
    height:100px;
    line-height:7;
    font-size:14px;
    transition: transform .5s ;
    transform:scale(1);
}
.dev-item:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
}
@media only screen and (max-width:1170px) {
    .dev-item {
        width:80px;
        height:80px;
        font-size:14px;
        line-height:5.5;
        margin:5px 5px 5px 0;
    }
}
@media only screen and (max-width:800px) {
    .dev-item {
        width:100px;
        height:100px;
        line-height:7;
        margin:1%;
    }
}
@media only screen and (max-width:480px) {
    .dev-item {
        width:80px;
        height:80px;
        line-height:5.5;
    }
}
.list{
    margin-top:30px;
    margin-left:20px;
}
.tool-wrapper{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.knowledge-wrapper{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}




.btn-block{
    display:block;
    width:100%;
    min-height:100px;
    color:#f2f2f2;
    position:relative;
    background: #007f8a;
    font-size:50px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    transition:background-color .5s linear;
}
.btn-block:focus,
.btn-block:hover{
    background:#4d0ce8;
    transition:all .3s ease;
}
.info-text{
    box-sizing: border-box;
    margin: 20px auto;
    width: 1000px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    left: calc(50% - 500px);
    text-align: center;
    transition: transform .5s ,opacity .2s linear;
    transform:scale(1);
}
.info-img{
    width: 50px;
    margin: 25px auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: calc(50% - 25px);
    text-align: center;
    transition: transform .5s ,opacity .4s linear;
    transform:translate3D(0,-4em,0) scale(0);
}
.btn-block:hover .info-text{
    opacity:0;
    visibility:hidden;
    transform:translate3D(0,4em,0) scale(.25);
}
.btn-block:hover .info-img{
    opacity:1;
    visibility:visible;
    transform:translate3D(0,0,0) scale(1);
}





#portfolio-section{
    background-color: #1b1b1b;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 50px;
}
.project-title{
    font-size: 40px;
    margin: 30px 0px;
}
.project-img{
    width: 60vw;
}
.project-description{
    margin: 30px 0px 70px 0px;
}
.project-link{
    color: #00b7c7;
}



#contact-section{
    background-color: red;
}
.section-wrapper-contact{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
#contactForm{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin: 50px;
}



#footer{
    background:linear-gradient(45deg,#00b7c7 0,#4d0ce8 100%);
    height:200px;
    min-height:100px;
    color:#f2f2f2;
}
.footer-item{
    display:inline-block;
    margin:1rem .5rem;
}
.footer-icon:focus,
.footer-icon:hover{
    color:#fff;
    fill:#fff;
    transition:all .3s ease;
    transform:scale(1.1) translateY(-5px);
}
.email,
.linkedin{
    display:block;
    position:relative;
    color:#fff;
    width:2.5rem;
    height:2.5rem;
    position:relative;
}
.github,
.instagram{
    display:block;
    position:relative;
    color:#fff;
    width:2.3rem;
    height:2.3rem;
    position:relative;
    top:-1px;
}
.copyright-wrapper{
    margin-top:25px;
    font-size:13px;
    color:#f2f2f2;
    font-weight:500;
}
.copyright-wrapper p{
    margin:0;
    color:#f2f2f2;
}